#container{
	background-color:lightpink;
	height: 350px;
	width: 250px;
	border-radius: 8px;
	position: relative;
	top: 100px;
	left: 40px;

}
.screen{
	background-color: #ffff99;
	width: 210px;
	height: 60px;
	position: relative;
	top: 20px;
	left: 15px;


}
.screen input{
	position: relative;
	left: 2px;
	top: 3px;
	height: 60px;
	width: 210px;
	color: black;
	backgound-color: green;
	font-size: 25px;
	text-align: right;

}
.btns{
	position: relative;
	top:20px;
	left:15px;

}
.button{
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 7px;
	margin-left: 10px;
	cursor:pointer;

}

.button.black{
	color: white;
	background-color: black;
	border-bottom: 2px solid #647489;
	border-top: 2px black;


}

.button.silver{
	color:white;
	background-color: #647489;
	border-bottom: 2px solid black;
}
.button.red{
color: white;
	background-color: red;
	border-bottom: 2px solid #647489;
	border-top: 2px black;	
}
p{
	line-height: 20px;
}